<component name="libraryTable">
  <library name="springframework.security.spring.data" type="repository">
    <properties maven-id="org.springframework.security:spring-security-data:5.8.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-data/5.8.2/spring-security-data-5.8.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-core/5.8.2/spring-security-core-5.8.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-crypto/5.8.2/spring-security-crypto-5.8.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.3.25/spring-aop-5.3.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.25/spring-beans-5.3.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/5.3.25/spring-context-5.3.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.3.25/spring-expression-5.3.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/jakarta/xml/bind/jakarta.xml.bind-api/2.3.3/jakarta.xml.bind-api-2.3.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/jakarta/activation/jakarta.activation-api/1.2.2/jakarta.activation-api-1.2.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-commons/2.7.8/spring-data-commons-2.7.8.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/slf4j-api/1.7.32/slf4j-api-1.7.32.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.25/spring-core-5.3.25.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.25/spring-jcl-5.3.25.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-data/5.8.2/spring-security-data-5.8.2-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-core/5.8.2/spring-security-core-5.8.2-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-crypto/5.8.2/spring-security-crypto-5.8.2-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.3.25/spring-aop-5.3.25-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.25/spring-beans-5.3.25-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/5.3.25/spring-context-5.3.25-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.3.25/spring-expression-5.3.25-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/jakarta/xml/bind/jakarta.xml.bind-api/2.3.3/jakarta.xml.bind-api-2.3.3-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/jakarta/activation/jakarta.activation-api/1.2.2/jakarta.activation-api-1.2.2-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-commons/2.7.8/spring-data-commons-2.7.8-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/slf4j-api/1.7.32/slf4j-api-1.7.32-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.25/spring-core-5.3.25-sources.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.25/spring-jcl-5.3.25-sources.jar!/" />
    </SOURCES>
  </library>
</component>